<header class="header">
    <div class="header-container">
      <!-- Logo -->
      <a routerLink="/" class="logo">
        <img src="https://imgs.search.brave.com/LzsKNTLFNwJSF3u5X7V1otZGCwTYNWjEab48P2zY_gY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvOTA2/ODMyMzEvcGhvdG8v/YnQtdG93ZXItbG9u/ZG9uLmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz1jRk4xZG1t/SGdYTnpudkNKOEJs/dWEyakRDR1FtQXFT/ay1BS0NBSnhUbTVv/PQ" alt="Logo" />
      </a>
  
      <!-- Search Bar -->
      <div class="search-bar">
        <input type="text" placeholder="Search..." />
      </div>
  
      <!-- Cart and User Icon -->
      <div class="icons">
        <a routerLink="/cart">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <a routerLink="/profile">
          <i class="fas fa-user"></i>
        </a>
      </div>
    </div>
  </header>
  